footer{
    display:flex;
    justify-content:center;
    align-items: center;
    height:80px;
    background-color:rgb(20, 20, 20);
    color:white;
    text-align: center;
    position:static;
    bottom:0;
    clear:both;
}
