<section>
    <div class="card">
        <div id="img-div">
            <img src="../../../assets/undraw_people_re_8spw.svg">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, magni voluptate placeat hic sequi, porro eius vel a tempora, doloribus cumque corrupti dolorum unde necessitatibus deserunt iste? Non, veritatis suscipit.</p>
        </div>
        <div>
            <a href="#" id="button">Read</a>
        </div>
    </div>
    <div class="card">
        <div id="img-div">
            <img src="../../../assets/undraw_team_collaboration_re_ow29.svg">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, magni voluptate placeat hic sequi, porro eius vel a tempora, doloribus cumque corrupti dolorum unde necessitatibus deserunt iste? Non, veritatis suscipit.</p>
        </div>
        <div>
            <a href="#" id="button">Read</a>
        </div>
    </div>
</section>
